<!DOCTYPE html>
<html>
    <body>
        <form method="post" action="{{ url_for('fair') }}">
            {{ form.hidden_tag() }}

            {{ form.useMultigas.label }} {{ form.useMultigas() }}
            <br>

            {{ form.rcp.label }} {{ form.rcp() }}
            <br>

            {{ form.ecs.label }} {{ form.ecs() }}
            {% if form.ecs.errors %}
                Error: {{ ', '.join(form.ecs.errors) }}
            {% endif %}
            <br>

            {{ form.tcr.label }} {{ form.tcr() }}
            {% if form.tcr.errors %}
                Error: {{ ', '.join(form.tcr.errors) }}
            {% endif %}
            <br>



<!--            {% if not form.useMultigas.data %}
                multigas off
            {% endif %} -->

            Scale factors:<br>
            {{ form.sf_co2.label }} {{ form.sf_co2() }}
            {% if form.sf_co2.errors %}
                Error: {{ ', '.join(form.sf_co2.errors) }}
            {% endif %}
            <br>
            {{ form.sf_ch4.label }} {{ form.sf_ch4() }}
            {% if form.sf_ch4.errors %}
                Error: {{ ', '.join(form.sf_ch4.errors) }}
            {% endif %}
            <br>
            {{ form.sf_n2o.label }} {{ form.sf_n2o() }}
            {% if form.sf_n2o.errors %}
                Error: {{ ', '.join(form.sf_n2o.errors) }}
            {% endif %}
            <br>

            <input type="submit" value="Calculate"/>
        </form>
        {% if result %}
            Result is: {{ result }}
        {% endif %}
    </body>
</html>