<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/x-mathjax-config">
	    MathJax.Hub.Config({
                TeX: {
                extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
            }
        });
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>
    <body>
        <div class="container">
            <h1>fair simple climate model</h1>

            <div class="row">
                <div class="col-sm-12">
                    <p>The new fair model interactive is on its way.</p>
                    <ol>
                        <li><a href="https://docs.fairmodel.net">fair documentation</a></li>
                        <li><a href="https://github.com/OMS-NetZero/FAIR">fair GitHub</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </body>
</html>
